# Refer to the official document to see what the check does
# https://clang.llvm.org/extra/clang-tidy/checks/list.html

Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
